/Report/negotiation_final_report.pdf
.metadata/
genius/negotiator
genius/log/
genius/negotiator/
genius/previousTournament
NegotiationAgent/bin/
NegotiationAgent/report/*.pdf
genius/previousTournament
*.bbl
*.aux
*.blg
*.log
*.out
*.synctex.gz
*.fdb_latexmk
*.tex.backup
*.toc

