CourseContent/Report/negotiation_final_report.pdf
CourseContent/Logs/
.metadata/
NegotiationAgent/bin/
BOAconstructor/bin/
genius/previousTournament
genius/log
*.bbl
*.aux
*.blg
*.log
*.out
*.synctex.gz
*.fdb_latexmk
*.tex.backup
*.toc

